body {
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: rgb(34,193,195);
    --color-gradient-1: hsl(181, 70%, 35%);
    --color-gradient-2: rgb(128, 45, 253);
    --color-gradient-3: rgb(45, 111, 253);
    background-image: linear-gradient(270deg, var(--color-gradient-3) 0%, var(--color-gradient-2) 20%, var(--color-gradient-1) 50%,  var(--color-gradient-2) 80%, var(--color-gradient-3) 100%);
    background-size: 500%;
    animation: background-shift 25600ms infinite alternate linear;
}

@keyframes background-shift {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.title-text {
    cursor: default;
    background: black;
    color: hsl(39, 100%, 60%);
    white-space: nowrap;
    font-size: 3.7vw;
    letter-spacing: 1em;
    padding: 2vh 0vw;
    margin: 0px;
}
.title-text.color-two {
    transition: 3200ms cubic-bezier(.3, .1, .3, 0);
    color: hsl(39, 100%, 60%);
}
.title-text.color-one {
    transition: 3200ms cubic-bezier(.3, .1, .3, 0);
    color: rgb(126, 27, 219);
}

#eight-ball {
    cursor: pointer;
    margin: 4vh 0vw;
    width: 70vmin;
    border-radius: 100%;
}
.ball-color-two {
    transition: 3200ms ease-out;
    box-shadow: 0 0 1vh .1vmin hsla(60, 10%, 80%, .1);
}
.ball-color-one {
    transition: 3200ms ease-in;
    box-shadow: 0 0 5vh 1vmin hsla(60, 100%, 80%, .8);
}

.btns-container {
    display: grid;
    justify-items: center;
}

.btn-style {
    position: relative;
    background: black;
    color: hsl(0, 0%, 87%);
    font-size: 6vmin;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid black;
    cursor: pointer;
    padding: 0 1vmin;
    box-shadow: 0 3.5px hsl(0, 0%, 30%);
    border: solid hsl(60, 80%, 80%);
}
.btn-style:active {
    box-shadow: none;
    top: 3.5px;
}

.shake {
    animation: shake 800ms ease-in 1;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    20%, 60%, 50%, 70%, 90% {transform: translateX(-15px);}
    40%, 80%, 60%, 80% {transform: translateX(15px);}
}