body {
    background: hsl(60, 5%, 83%);
    text-align: center;
}

.eight-ball-container {
    background: black;
    border-radius: 50%;
    height: 50vmin;
    width: 50vmin;
    margin: 0 auto;
}
.eight-ball-container > h1 {
    color: white;
    font-size: 4em;
    padding-top: 5vmin;
    margin: 0px;
}

#text-container {
    background: rgb(25, 120, 230);
    width: 40vmin;
    margin: 0 auto;
}

.button {
    margin-top: 5vmin;
}