body {
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(128, 45, 253) 100%);
}

.title-text {
    cursor: default;
    background: black;
    color: hsl(0, 0%, 87%);
    white-space: nowrap;
    font-size: 3.7vw;
    letter-spacing: 1em;
    padding: 2vh 0vw;
    margin: 0px;
}
.title-text.color-two {
    transition: 1600ms cubic-bezier(.2, .1, .4, 0);
    color: rgb(126, 27, 219);
}
.title-text.color-one {
    transition: 1600ms ease-out;
    color: hsl(39, 100%, 60%);
}

#eight-ball {
    cursor: pointer;
    margin: 4vh 0vw;
    width: 70vmin;
    border-radius: 100%;
}
.ball-color-two {
    transition: 1600ms cubic-bezier(.2, .1, .4, 0);
    box-shadow: 0 0 1vh .1vmin hsla(60, 10%, 80%, .1);
}
.ball-color-one {
    transition: 1600ms ease-out;
    box-shadow: 0 0 5vh 1vmin hsla(60, 100%, 80%, .8);
}

.btns-container {
    display: grid;
    justify-items: center;
}

.btn-style {
    position: relative;
    background: black;
    color: hsl(0, 0%, 87%);
    font-size: 6vmin;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid black;
    cursor: pointer;
    padding: 0 1vmin;
    box-shadow: 0 3.5px hsl(0, 0%, 30%);
    border: solid hsl(60, 80%, 80%);
}
.btn-style:active {
    box-shadow: none;
    top: 3.5px;
}

.shake {
    animation: shake 800ms ease-in 1;
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    20%, 60%, 50%, 70%, 90% {transform: translateX(-15px);}
    40%, 80%, 60%, 80% {transform: translateX(15px);}
}